body{
    font-family: Montserrat, sans-serif;
}

/* Steps CSS */
.stepsContainer{
    margin-bottom: 20px;
    background-color: black;
    text-align: center;
    color: black;
}

.stepsContainer h1{
    display: inline-block;
    position: relative;
    color: gold;
    font-size: 23px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.steps{
    background-color: gold;
    display: flex;
    text-align: center;
    height: 50px;
    width: 100%;
   
}

.steps > div{
    flex: 1;
    line-height: 3;
    border-width: 1px;
    border-style: solid;
    
}

.currentStep{
    background-color: white;
}



/* Next Button */

.nextButton{
    text-align: center;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 50px;
    border: none;
    color: #000000;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    transition: 0.2s;
    outline: 0;
    width: 200px;
    cursor: pointer;
    padding: 17px 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    -ms-border-radius: 50px;
}

.nextButton{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nextButton:after {
  content: "\00bb";
  opacity: 0;
  transition: 0.2s;
}

.nextButton:hover:after {
  opacity: 1;
  right: 0;
}

.nextButton:hover{
    background-color: black;
    color: gold;
    border-color: gold;
    padding-right: 25px;
}

.nextButtonDiv{
    width: 100px;
    display: inline-block; 
    text-align: center; 
    border-radius: 50px; 
    position: absolute;
    right: 50%;
}

/* Search bar */

.searchBar{
    font-family: Montserrat, sans-serif;
    margin-top: 50px;
    background-color: black;
    color: white;
    box-shadow: none;
    width: 200px;
    text-align: center;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    transition: 0.4s;
    font-size: 20px;
}

.searchBar:focus{
    outline: 0;
    width: 400px;
    border-color: gold;
    color: gold;
}

.searchBar:hover{
    width: 400px;
    
}

/* Disabling overlay */
.coverOverlay{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}


/* Alerts */
.errorMsg{
    color: red;
    margin: 10px;
    text-align: center;
    display: inline-block;
    background-color: black;
    width: 600px;
    border-width: 20px;
    padding: 10px;  
    position: relative; 
    margin: 0; 
    left: 0; 
    top: 0;
}

.errorMsgAbsolute{
    position: absolute;
    top: 160px;
    left: 50%;
    margin-left: -300px;
    color: red;
    margin: 10px;
    text-align: center;
    display: inline-block;
    background-color: rgba(255,0,0,0.4);
    width: 600px;
    border-width: 20px;
    padding: 10px;  
}

.accountMsg{
    color: white;
    margin: 10px;
    text-align: center;
    display: inline-block;
    background-color: black;
    width: 600px;
    position: absolute;
    top: 160px;
    left: 50%;
    margin-left: -300px;
}

.successMsg{
    color: green;
    font-weight: bold;
    text-align: center;
    background-color: black;
    width: 100%;
    display: inline-block;
}

.successMsgAbsolute{
    color: green;
    font-weight: bold;
    text-align: center;
    width: 600px;
    position: absolute;
    top: 160px;
    left: 50%;
    margin-left: -300px;
    display: inline-block;
    padding: 10px;
    border-radius: 13px;
}


/* This code is possible thanks to sanatsathyan @ https://stackoverflow.com/questions/48443019/is-there-a-way-to-remove-the-increase-decrease-arrows-in-input-type-number-for */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    -moz-appearace: none;
    appearance: none;
}

.backBt{
  cursor: pointer;
  display: inline-block;
  position: relative;
  
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 14px;
  border-width: 1px;
  font-weight: bold;
  transition: 0.5s;
}

.backBt:before {
     opacity: 0;
    font-weight: bold;
  content: "\00ab";
  display: none;
  transition: 0.5s;

}

.backBt:hover:before {
  opacity: 1;
  right: 0;
  display: inline-block;
   transition: 0.5s;
}

.backBt:hover{
    background-color: gold;
    color: black;
     transition: 0.5s;
    margin-left: -25px;
}