.nextButton{
    text-align: center;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 50px;
    border: none;
    color: #000000;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    transition: 0.2s;
    outline: 0;
    width: 200px;
    cursor: pointer;
    padding: 17px 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    -ms-border-radius: 50px;
}

.nextButton{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nextButton:after {
  content: "\00bb";
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.nextButton:hover:after {
  opacity: 1;
  right: 0;
}

.nextButton:hover{
    background-color: black;
    color: gold;
    border-color: gold;
    padding-right: 25px;
}

