/*--login start here--*/

*{
    display: block;
}

 body{
   font-size: 100%;
   background-color:#000000; 
   font-family: montserrat, sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*--elemt style strat here--*/
.containerBox h2 {
    font-size: 30px;
    color: gold;
    text-align: center;
    margin-top:24px;
    font-weight: 700;

}
.forgetPassword {
    width:27%;
    background-color: #000000;
    margin: 150px auto 0px;
    border-radius: 5px;
    padding:3em 2em;

}
.forgetPassword h1 {
    text-align: center;
    font-size: 28px;
    color:gold;
    font-weight: 700;
}
.forgetPassword p {
    font-size: 16px;
    color: gold;
    line-height: 24px;
    margin: 24px 0px;
    text-align:center;
}
.forgetPassword input[type=email] {
    font-size: 12px;
    color: #000000;
    padding: 20px 12px;
    display: block;
    width: 95%;
    outline: none;
    text-align:center;
    border-radius:15px;
    border:none;
    background-color: gold;
}
.forgetPassword input[type=submit] {
    font-size: 16px;
    color: #000000;
    background-color:#ffffff;
    width: 50%;
    padding: 20px 0px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 50px;
    display: block;
    margin: 18px auto 0;
}
.forgetPassword input[type=submit]:hover{
    background-color:#000000;  
    transition: 0.5s all;
    color: gold;
}


/*--media quiries start here--*/
@media(max-width:1440px){
	
}
@media(max-width:1366px){
	
}
@media(max-width:1280px){
    
.containerBox h2 {
    margin-top: 24px;	
}

.forgetPassword {
    width: 30%;
}
}
@media(max-width:1024px){
.forgetPassword {
    width: 37%;	
}
}
@media(max-width:768px){
.forgetPassword {
    width: 49%;
}	
.containerBox h2 {
    font-size: 2em;
}
.forgetPassword {
    width: 60%;
}
.forgetPassword h1 {
    font-size: 2em;
}
}
@media(max-width:640px){
	
}
@media(max-width:480px){
.forgetPassword {
    width: 80%;
    padding: 3em 1.5em;
}	
}
@media(max-width:320px){
.containerBox h2 {
    font-size: 1.5em;
}
.forgetPassword h1 {
    font-size: 1.5em;
}
.forgetPassword {
    width: 80%;
    margin: 2em auto 0em;
    padding: 1.5em 1.5em;
}
.forgetPassword p {
    font-size: 0.9em;	
}
.forgetPassword input[type=submit] {
    font-size:0.9em;
    width: 75%;
}
.forgetPassword input[type=text] {
    font-size: 0.9em;
    padding: 0.8em 0.5em;
}
}
/*--media quiries end here--*/