html, body{
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: montserrat, sans-serif;
}

/* Form */

.formContainer{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    
    
}

.formInnerContainer{
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formContainer input{
    width: 90%;
    display: block;
    background-color: gold;
    outline: none;
    border-style: solid;
    border-width: 0px;
    border-color: white;
    position: relative;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
   font-family: montserrat, sans-serif;
   font-weight: 800;
   transition: 0.3s;
   animation: introInput 0.75s;
}

.formContainer input:focus{
    background-color: white;
}

form {
    text-align: center;
}

.formContainer input::placeholder{
    color: black;
    
}

/* Form button */

button{
    background-color: black;
    color: gold;
    outline: none;
    border-width: 0px;
    margin: 10px;
    padding: 5px;
    font-family: montserrat, sans-serif;
   font-weight: 400;
   transition: 0.2s;
   border-radius: 10px;
   font-size: 15px;
   animation: introText 0.75s;
}

button:hover{
    font-size: 18px;
    color: white;
}

/* Forgot password */
.passwordForgot{
    margin-top: 100px;
    font-size: 14px;
}

.passwordForgot a{
    text-decoration: none;
    color: white;
}

.passwordForgot a:hover{
    font-weight: bold;
}

/* Forgot password overlay */
.forgotPasswordOverlay .closeBt{
     background-color: red;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
    width: 35px;
    height: 35px;
    color: white;
}
.forgotPasswordOverlay{
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    padding: 30px;
    width: 600px;
}

.forgotPasswordOverlay .resetBt{
    background-color: gold;
    padding: 10px;
    margin-top: 100px;
    margin: 10px;
    color: black;
    border-radius: 10px;
    width: 150px;
    display: inline-block;
    font-weight: bold;
    transition: 0.2s;
}

.forgotPasswordOverlay .resetBt:hover{
    background-color: black;
    color: gold;
}

.forgotPasswordOverlay h2{
    margin: 0;
}

.forgotPasswordOverlay input{
    width: 400px;
    display: block;
    background-color: black;
    outline: none;
    border-style: solid;
    border-width: 0px;
    border-color: white;
    position: relative;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
   font-family: montserrat, sans-serif;
   font-weight: 800;
   transition: 0.3s;
   animation: introInputForgotPassword 0.75s;
   color: gold;
}

.forgotPasswordOverlay input::placeholder{
    color: gold;
}

/* Keyframe animations */

@keyframes introInput{
    from {width: 0;}
    to {width: 90%;}
}

@keyframes introInputForgotPassword{
    from {width: 0;}
    to {width: 400px;}
}

@keyframes introText{
    from {opacity: 0;}
    to {opacity: 90%;}
}
