.stepsContainer{
    margin-bottom: -100px;
}

/* Input design */
input::placeholder{
    color: black;
    font-weight: 400;
}

input:checked + label div{
    text-decoration: line-through;
    color: gold;
}

input[type=checkbox]{
    display: none;
    margin: 0;
}

.mealTime{
    border-style: solid;
    border-color: gold;
    border-radius: 10px;
    border-width: 1px;
}

.mealTime p{
    background-color: black;
    font-size: 12px;
}

.sideDisplay{
    text-align: center;
    position: absolute;
    top:350px;
    left:0px;
    border: 1px solid gold;
    display: border-box;
    border-radius: 15px;
    width: 300px;
    background-color: black;
    padding: 10px;
}