body, html{
    background-color: black;
    font-family: Montserrat, sans-serif;
    margin: 0;
    text-align: center;
}

/* Title CSS */
.title{
    display: inline-block;
    color: white;
    font-family: Montserrat, sans-serif;
    text-align: center;
    margin: 50px;
}

h5{
    color: white;
    margin-top: -30px;
    font-size: 20px;
}

/* Meal part */
.mainContainer{
    overflow: hidden;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}
/*Update Payment & Payment part Start*/
.mainContainer2{
    overflow: hidden;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    width:  70%;
    border: 3px solid;
    border-color: gold;
    border-radius: 40px;
}
/*Update Payment & Payment part End*/

.recordQuantity{
    text-align: left;
    display: inline-block;
    background-color: gold;
    width:  40%;
    border-radius: 20px;
    margin: 10px;
    position: relative;
}

.recordQuantity p{
    display: inline-block;
}

/*Update Payment & Payment part Start*/
.recordQuantity2{
    text-align: left;
    display: inline-block;
    background-color: black;
    color: white;
    width:  60%;
    border-radius: 20px;
    position: relative;
}

.recordQuantity2 p{
    display: inline-block;
}
/*Update Payment & Payment part End*/

.frontPart{
    margin: 10px;
    display: inline-block;  
}

.value{
    display: inline-block;
    position: absolute;
    left: 60%;
    text-align: left;
}

.quantityEditor{
    float: right;
    margin: 10px;
}

.symbol{
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.2s;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    font-weight: bold;
}

.symbol:hover{
    
    background-color: white;
}

.total{
    background-color: black;
    border-radius: 10px;
    border-width: 1px;
    border-color: gold;
    border-style: solid;
    color: gold;
    width: 30%;
    display: inline-block;
    padding: 7px;
    margin: 20px;
}

/*Update Payment & Payment part Start*/
.total2{
    background-color: black;
    border-radius: 10px;
    border-width: 1px;
    border: none;
    color: white;
    width: 30%;
    display: inline-block;
    padding: 7px;
    margin: 20px;
    font-weight: 700;
    font-size: 18px;
    width: 100%;
}
/*Update Payment & Payment part End*/
.name{
    font-weight: bold;
    color: gold;
}

/* Steps CSS */
.stepsContainer{
    background-color: black;
    text-align: center;
    
}

.stepsContainer h1{
    display: inline-block;
    position: relative;
    color: gold;
    font-size: 20px;
    margin-bottom: 1px;
}

.steps{
    background-color: gold;
    display: flex;
    text-align: center;
    height: 50px;
    justify-content: center;
    align-content: center;
    width: 100%;
    border-width: 10px;
    border-color: black;
}

.steps > div{
    flex: 1;
    line-height: 3;
}

.currentStep{
    background-color: white;
}

.totalPrice{
    font-size: 60px;
    margin: 0;
    margin-top: -10px;
    font-weight: 200;
    color: gold;
}

.quantity{
    background-color: gold;
    border-width: 0;
    width: 20px;
    display: inline-block;
    font-size: 18px;
    text-align: center;
}
