html, body{
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: montserrat, sans-serif;
    text-align: center;
}

.title{
    display: inline-block;
    color: white;
    font-family: Montserrat, sans-serif;
    text-align: center;
    margin: 50px;
}

h5{
    color: white;
    margin-top: -30px;
    font-size: 20px;
}

/* Meals CSS */

form{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.mealsContainer{
    color: white;
    display: inline-block;
    position: relative;
    width: 100%;
}

table{
    display: inline-block;
    margin: 20px;
}

table td{
    display: table-cell;
    height: 150px;
    padding: 10px;
}

.meal{
    margin: 25px;
    height: 100%;
    display: inline-block;
    text-align: center;
    background-color: rgba(255,255,255,0.2);
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    position: relative;
}

input:checked + label{
    background-color: darkgoldenrod;
}

input[type=checkbox]{
    display: none;
    margin: 0;
}


.breakfast{
    position: absolute;
    background-color: darkorange;
    padding: 5px;
}

.lunch{
    position: absolute;
    background-color: darkcyan;
    padding: 5px;
}

.listItem{
    display: flex;
}

.meal img{
    margin-top: 10px;
    height: 100px;
}

.meal h5{
    margin-top: 10px;
    padding: 0;
    margin: 0;
    color: gold;
}

.componentTitle{
    color: gold;
    margin: 5px;
}

.description{
    font-size: 15px;
    height: 60px;
}

.calories{
    font-size: 12px;
    color: #EC4964;
}

.foodPart{
    border-style: solid;
    border-color: gold;
    border-width: 1px;
    border-radius: 10px;
    display: inline-block;
    left: 50%;
    width: 80%;
    font-size: 10px;
    padding: 5px;
    margin: 10px;
}

.component{
    text-align: center;
    margin: 0;
}

.price{
    position: absolute;
    bottom: 0;
    right: 50%;
    display: inline-block;
}

/* Steps CSS */
.stepsContainer{
    background-color: black;
    text-align: center;
    
}

.stepsContainer h1{
    display: inline-block;
    position: relative;
    color: gold;
    font-size: 20px;
    margin-bottom: 1px;
}

.steps{
    background-color: gold;
    display: flex;
    text-align: center;
    height: 50px;
    width: 100%;
   
}

.steps > div{
    flex: 1;
    line-height: 3;
    border-width: 1px;
    border-style: solid;
    
}

.currentStep{
    background-color: white;
}

/*Button CSS*/
.nextButton{
    width: 10%;
}

