/* Credit css */
.credits{
    background-color: gold;
    padding: 10px;
    display: inline-block;
    margin: 0;
    position: fixed;
    color: black;
    right: 0;
    bottom: 50%;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    transition: 0.5s;
    width: 121px;
        
}

