body{
    background-color: black;
    color: white;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

h1{
    font-size: 37px;
    padding: 20px;
    color: gold;
}

/* Main container */

.mainContainer{
    position: absolute;
    top: 50%;
     left: 0%;
    height: 300px;
     width: 100%;
     margin-top: -150px;
}

.topUpForm input{
    background-color: gold;
    color: black;
    border-width: 0;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.topUpForm input:hover, input:focus{
    background-color: white;
    outline: none;
}

.topUpForm input::placeholder{
    color: black;
    font-weight: bold;
}

.topUpForm button{
    background-color: black;
    border-width: 0;
    color: white;
    margin: 30px;
    font-size: 20px;
    transition: 0.2s;
    border-radius: 10px;
    
}

/* This code is possible thanks to sanatsathyan @ https://stackoverflow.com/questions/48443019/is-there-a-way-to-remove-the-increase-decrease-arrows-in-input-type-number-for */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    -moz-appearace: none;
    appearance: none;
}

.topUpForm button:hover{
    color: gold;
    font-size: 25px;
}

.topUpForm .amountText{
    margin-top: 10px;
}

.topUpForm .creditAmount{
    font-size: 40px;
    color: darkcyan;
}

.back{
    text-align: center;
    position: absolute;
    bottom: 50px;
    background-color: black;
    color: gold;
    left: 50%;
    width: 50px;
    margin-left: -25px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.2s;
}

.back:hover{
    font-size: 20px;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}
